.offline-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffb100;
    color: white;
    padding: 10px 0;
}

body.offline .offline-banner {
    display: block;
}

@keyframes spin-outter {
    from {
        transform: rotate(25deg);
    }
    to {
        transform: rotate(385deg);
    }
}

@keyframes spin-middle {
    from {
        transform: rotate(130deg);
    }
    to {
        transform: rotate(490deg);
    }
}

@keyframes spin-inner {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(540deg);
    }
}

body {
    padding-left: 30px;
    padding-right: 30px;
}

.grid-item {
    width: 18vw;
    /*margin: 5px;*/
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .grid-item {
        width: 28.7vw;
    }
}

@media screen and (max-width: 730px) {
    .grid-item {
        width: 42vw;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .grid-item {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .card-panel {
        margin: 0 !important;
    }

    body {
        padding: 15px !important;
        margin: 0 !important;
    }
}

.logo > div {
    display: inline-block;
    height: 33px;
    line-height: 30px;
    vertical-align: top;
    font-size: 25px;
    font-family: Arial;
    font-weight: 900;
    color: black;
}

.loader {
    display: block;
    width: 33px;
    height: 33px;
    margin: 0 5px;
    border-radius: 100%;
    border: 4px solid #ed1c24;
    position: relative;
    animation: spin-outter 4s infinite;
}

.loader:before {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    height: 7px;
    width: 7px;
    background: black;
    border-radius: 100%;
}

.loader:after {
    content: '';
    position: absolute;
    top: -5px;
    left: calc(50% - 8px);
    height: 0px;
    width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 6px 3px 0px;
}

p {
    margin-top: 0.2em;
}


.loader .blue {
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: 4px solid #007dc5;
    position: absolute;
    top: 1px;
    left: 1px;
    animation: spin-middle 4s infinite;
}

.loader .blue:after {
    content: '';
    position: absolute;
    top: -4px;
    left: calc(50% - 7px);
    height: 0px;
    width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 5px 3px 0px;
}

.loader .blue .red {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 4px solid #ed1c24;
    position: absolute;
    top: 1px;
    left: 1px;
    animation: spin-inner 4s infinite;
}

.loader .blue .red:after {
    content: '';
    position: absolute;
    top: -4px;
    left: calc(50% - 6px);
    height: 0px;
    width: 4px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 5px 3px 0px;
}

.dark .logo > div {
    color: white;
}

.dark .loader:after,
.dark .loader .blue:after,
.dark .loader .blue .red:after {
    border-color: #2e3135 transparent transparent;
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color:black;
    }
    .modal,.modal-footer,.dropdown-content{
        background-color: #151515 !important;
        color:white;
    }
    .btn-flat,.waves-button-input,.select-wrapper,input.select-dropdown{
        color:white !important;
    }
}